<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Partidos</h3>
  </div>
  <ul class="list-group">
    <span class="list-group-item">
      <div class="row">
        <div class="col-xs-4">Argentina</div>
        <div class="col-xs-4 center-block">
          Argentina<div class="flag-48 Argentina ib"></div><div class="flag-48 Brazil ib"></div>
        </div>
        <div class="col-xs-4">Brasil</div>
      </div>
    </span>
  </ul>
</div>