<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{name}}</h3>
  </div>
  <ul class="list-group">
    <span class="list-group-item">
      <div class="row">
        <div class="col-xs-5">
          <span class="pull-right"><span class="visit-team">Argentina</span><div class="flag-48 Argentina"></div></span>
        </div>
        <div class="col-xs-2 text-center">
          <div class="row">
            <div class="col-xs-12">15/06 13.00</div>
          </div>
          <div class="row">
            <div class="col-xs-12"><button class="btn btn-primary btn-xs">Pronosticar</button></div>
          </div>
        </div>
        <div class="col-xs-5">
          <span class="pull-left"><div class="flag-48 Brazil"></div><span class="local-team">Brasil</span></span>
        </div>
      </div>
    </span>    
  </ul>
</div>

