<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">{{name}}</h3>
      </div>
      {{outlet}}
    </div>
  </div>
</div>