<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <img {{bind-attr src=logo}} alt="" class="thumb-128"> {{name}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{outlet}}
  </div>
</div>