<div class="ui page grid">
  <div class="row">
    <div class="sixteen wide column center aligned">
      <span class="title">Prode Total</span>
    </div>
  </div>
  <div class="row">
    <div class="six wide column"></div>
    <div class="six wide column">
      <div {{action 'login'}} class="ui facebook button" id="fb_login_btn">
        <i class="facebook icon fluid"></i>
          Login con Facebook
      </div>
    </div>
  </div>
</div>