<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">			
			<div class="bienvenido">
				Bienvenido	
			</div>
			<div class="bienvenido_sub">
				PRODE Total	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			{{#link-to 'main' class="btn btn-block btn-social btn-facebook"}}
				<i class="fa fa-facebook"></i> Sign in with Facebook
			{{/link-to}}
		</div>
	</div>
</div>