<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <span class="huge-brand">Prode Total</span>  
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      {{#if loginDisabled}}
        <button class="btn btn-primary">
          <i class="fa fa-spinner fa-spin"></i> Verificando facebook login...
        </button>
      {{else}}
        <button {{action 'login'}} class="btn btn-primary">
          <i class="fa fa-facebook"></i> Login con Facebook
        </button>
      {{/if}}
    </div>
  </div>
</div>