<div class="ui page grid">
  <div class="row">
    <div class="sixteen wide column center aligned">
      <span class="title">Prode Total</span>
    </div>
  </div>
  <div class="row">
    <div class="five wide column"></div>
    <div class="six wide column">
      {{#if loginDisabled}}      
        <div class="ui facebook button fluid">
          <i class="facebook icon"></i>
            Checking facebook login status...
        </div>
      {{else}}
        <div {{action 'login'}} class="ui facebook button fluid" id="fb_login_btn">
          <i class="facebook icon"></i>
            Login con Facebook
        </div>
      {{/if}}
    </div>
  </div>
</div>