<div class="ui page grid">
  <div class="row">
    <div class="sixteen wide column center aligned">
      <span class="title">Prode Total</span>
    </div>
  </div>
  <div class="row">
    <div class="six wide column"></div>
    <div class="six wide column">
      <div class="ui facebook button">
        <i class="facebook icon fluid"></i>
          Login con Facebook
      </div>
    </div>
  </div>
</div>