/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require Font-Awesome/css/font-awesome.min
 *= require bootstrap/dist/css/bootstrap.min
 *= require login
 *= require_self
 */

body {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}

.panel {
	background-color: rgba(55, 55, 55, 0.75);
	color: white;
}

.panel-default > .panel-heading {
	background-color: rgba(55, 55, 55, 0.9);
	color: white;
}

.panel>.list-group {
	overflow-y: auto;
	max-height: 387px;
}

.panel-title {
	font-weight: 700;
	text-transform: uppercase;
}

.nav-brand {
	font-family: 'Chango', cursive;
}

.list-group-item {
	background-color: inherit;
	color: white;
}

a.list-group-item {
	color: white;
}


a.list-group-item:hover {
	background-color: inherit;
}

a.list-group-item-heading {
	color: white;
}

.img-thumbnail {
	background-color: inherit;
}

.img-rounded {
	border-radius: 6px;
	background-color: rgba(256, 256, 256, 0.4);
	padding: 5px 5px 5px 5px;
}

.thumb-96 {
	height: 96px;
	width: 96px;
	max-width: 96px;
}

.competition-item {
	min-height: 130px;
}




