/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
  *= require bootstrap/dist/css/bootstrap
 *= require font-awesome/css/font-awesome.min
 *= require bootstrap-social/bootstrap-social.css
 *= require_self
 *= require_tree .
 */

body {
	background: url("soccer.png") no-repeat;
	background-position: center bottom;
	background-color: rgb(0,0,0);
	height: 700px;
	font-family: 'Droid Sans', sans-serif;
	margin-top: 20px;	
}

.list-group-item img {
	height: 80px;
	margin-right: 10px;
	width: auto;
	float: left;
}

/*
.panel {
	background-color: rgba(25,25,25,0.30);
	border: none;
	border-radius: 20px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

.panel-default > .panel-heading {
	color: #ffffff;
	background-color: rgba(60, 60, 60, 0.75);
	border-color: rgba(60, 60, 60, 0.75);
}

.list-group, .list-group-item {
	background-color: rgba(25,25,25,0.30);
	border: none;
}

.bienvenido {
	font-family: 'Seaweed Script', cursive;
	font-size: 120px;
}
*/