.flag-48 {	
	background: url(flags-48.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.local-team {
	padding-left: 10px;
}

.visit-team {
	padding-right: 10px;
}

.ASEAN { width: 48px; height: 48px; background-position: 0 0; }
.Afghanistan { width: 48px; height: 48px; background-position: 0 -49px; }
.African_Union { width: 48px; height: 48px; background-position: 0 -98px; }
.Aland { width: 48px; height: 48px; background-position: 0 -147px; }
.Albania { width: 48px; height: 48px; background-position: 0 -196px; }
.Alderney { width: 48px; height: 48px; background-position: 0 -245px; }
.American_Samoa { width: 48px; height: 48px; background-position: 0 -294px; }
.Andorra { width: 48px; height: 48px; background-position: 0 -343px; }
.Angola { width: 48px; height: 48px; background-position: 0 -392px; }
.Anguilla { width: 48px; height: 48px; background-position: 0 -441px; }
.Antarctica { width: 48px; height: 48px; background-position: 0 -490px; }
.Antigua_Barbuda { width: 48px; height: 48px; background-position: 0 -539px; }
.Arab_League { width: 48px; height: 48px; background-position: 0 -588px; }
.Argentina { width: 48px; height: 48px; background-position: 0 -637px; }
.Armenia { width: 48px; height: 48px; background-position: 0 -686px; }
.Aruba { width: 48px; height: 48px; background-position: 0 -735px; }
.Australia { width: 48px; height: 48px; background-position: 0 -784px; }
.Austria { width: 48px; height: 48px; background-position: 0 -833px; }
.Azerbaijan { width: 48px; height: 48px; background-position: 0 -882px; }
.Bahamas { width: 48px; height: 48px; background-position: 0 -931px; }
.Bahrain { width: 48px; height: 48px; background-position: 0 -980px; }
.Bangladesh { width: 48px; height: 48px; background-position: 0 -1029px; }
.Barbados { width: 48px; height: 48px; background-position: 0 -1078px; }
.Basque_Country { width: 48px; height: 48px; background-position: 0 -1127px; }
.Belarus { width: 48px; height: 48px; background-position: 0 -1176px; }
.Belgium { width: 48px; height: 48px; background-position: 0 -1225px; }
.Belize { width: 48px; height: 48px; background-position: 0 -1274px; }
.Benin { width: 48px; height: 48px; background-position: 0 -1323px; }
.Bermuda { width: 48px; height: 48px; background-position: 0 -1372px; }
.Bhutan { width: 48px; height: 48px; background-position: 0 -1421px; }
.Bolivia { width: 48px; height: 48px; background-position: 0 -1470px; }
.Bosnia_Herzegovina { width: 48px; height: 48px; background-position: 0 -1519px; }
.Botswana { width: 48px; height: 48px; background-position: 0 -1568px; }
.Bouvet { width: 48px; height: 48px; background-position: 0 -1617px; }
.Brazil { width: 48px; height: 48px; background-position: 0 -1666px; }
.British_Indian_Ocean_Territory { width: 48px; height: 48px; background-position: 0 -1715px; }
.Brunei { width: 48px; height: 48px; background-position: 0 -1764px; }
.Bulgaria { width: 48px; height: 48px; background-position: 0 -1813px; }
.Burkina_Faso { width: 48px; height: 48px; background-position: 0 -1862px; }
.Burundi { width: 48px; height: 48px; background-position: 0 -1911px; }
.CARICOM { width: 48px; height: 48px; background-position: 0 -1960px; }
.CIS { width: 48px; height: 48px; background-position: 0 -2009px; }
.Cambodja { width: 48px; height: 48px; background-position: 0 -2058px; }
.Cameroon { width: 48px; height: 48px; background-position: 0 -2107px; }
.Canada { width: 48px; height: 48px; background-position: 0 -2156px; }
.Cape_Verde { width: 48px; height: 48px; background-position: 0 -2205px; }
.Catalonia { width: 48px; height: 48px; background-position: 0 -2254px; }
.Cayman_Islands { width: 48px; height: 48px; background-position: 0 -2303px; }
.Central_African_Republic { width: 48px; height: 48px; background-position: 0 -2352px; }
.Chad { width: 48px; height: 48px; background-position: 0 -2401px; }
.Chile { width: 48px; height: 48px; background-position: 0 -2450px; }
.China { width: 48px; height: 48px; background-position: 0 -2499px; }
.Christmas { width: 48px; height: 48px; background-position: 0 -2548px; }
.Colombia { width: 48px; height: 48px; background-position: 0 -2597px; }
.Commonwealth { width: 48px; height: 48px; background-position: 0 -2646px; }
.Comoros { width: 48px; height: 48px; background-position: 0 -2695px; }
.Congo-Brazzaville { width: 48px; height: 48px; background-position: 0 -2744px; }
.Cook_Islands { width: 48px; height: 48px; background-position: 0 -2793px; }
.Costa-Rica { width: 48px; height: 48px; background-position: 0 -2842px; }
.Cote_Ivoire { width: 48px; height: 48px; background-position: 0 -2891px; }
.Croatia { width: 48px; height: 48px; background-position: 0 -2940px; }
.Cuba { width: 48px; height: 48px; background-position: 0 -2989px; }
.Curacao { width: 48px; height: 48px; background-position: 0 -3038px; }
.Cyprus { width: 48px; height: 48px; background-position: 0 -3087px; }
.Czech_Republic { width: 48px; height: 48px; background-position: 0 -3136px; }
.Denmark { width: 48px; height: 48px; background-position: 0 -3185px; }
.Djibouti { width: 48px; height: 48px; background-position: 0 -3234px; }
.Dominica { width: 48px; height: 48px; background-position: 0 -3283px; }
.Dominican_Republic { width: 48px; height: 48px; background-position: 0 -3332px; }
.Ecuador { width: 48px; height: 48px; background-position: 0 -3381px; }
.Egypt { width: 48px; height: 48px; background-position: 0 -3430px; }
.El_Salvador { width: 48px; height: 48px; background-position: 0 -3479px; }
.England { width: 48px; height: 48px; background-position: 0 -3528px; }
.Equatorial_Guinea { width: 48px; height: 48px; background-position: 0 -3577px; }
.Eritrea { width: 48px; height: 48px; background-position: 0 -3626px; }
.Estonia { width: 48px; height: 48px; background-position: 0 -3675px; }
.Ethiopia { width: 48px; height: 48px; background-position: 0 -3724px; }
.European_Union { width: 48px; height: 48px; background-position: 0 -3773px; }
.FAO { width: 48px; height: 48px; background-position: 0 -3822px; }
.Faroes { width: 48px; height: 48px; background-position: 0 -3871px; }
.Fiji { width: 48px; height: 48px; background-position: 0 -3920px; }
.Finland { width: 48px; height: 48px; background-position: 0 -3969px; }
.France { width: 48px; height: 48px; background-position: 0 -4018px; }
.French-Guiana { width: 48px; height: 48px; background-position: 0 -4067px; }
.French_Southern_and_Antarctic_Lands { width: 48px; height: 48px; background-position: 0 -4116px; }
.Gabon { width: 48px; height: 48px; background-position: 0 -4165px; }
.Galicia { width: 48px; height: 48px; background-position: 0 -4214px; }
.Gambia { width: 48px; height: 48px; background-position: 0 -4263px; }
.Georgia { width: 48px; height: 48px; background-position: 0 -4312px; }
.Germany { width: 48px; height: 48px; background-position: 0 -4361px; }
.Ghana { width: 48px; height: 48px; background-position: 0 -4410px; }
.Gibraltar { width: 48px; height: 48px; background-position: 0 -4459px; }
.Greece { width: 48px; height: 48px; background-position: 0 -4508px; }
.Greenland { width: 48px; height: 48px; background-position: 0 -4557px; }
.Grenada { width: 48px; height: 48px; background-position: 0 -4606px; }
.Guadeloupe { width: 48px; height: 48px; background-position: 0 -4655px; }
.Guam { width: 48px; height: 48px; background-position: 0 -4704px; }
.Guatemala { width: 48px; height: 48px; background-position: 0 -4753px; }
.Guernsey { width: 48px; height: 48px; background-position: 0 -4802px; }
.Guinea-Bissau { width: 48px; height: 48px; background-position: 0 -4851px; }
.Guinea { width: 48px; height: 48px; background-position: 0 -4900px; }
.Guyana { width: 48px; height: 48px; background-position: 0 -4949px; }
.Haiti { width: 48px; height: 48px; background-position: 0 -4998px; }
.Heard_Island_and_McDonald { width: 48px; height: 48px; background-position: 0 -5047px; }
.Honduras { width: 48px; height: 48px; background-position: 0 -5096px; }
.Hong_Kong { width: 48px; height: 48px; background-position: 0 -5145px; }
.Hungary { width: 48px; height: 48px; background-position: 0 -5194px; }
.IAEA { width: 48px; height: 48px; background-position: 0 -5243px; }
.IHO { width: 48px; height: 48px; background-position: 0 -5292px; }
.Iceland { width: 48px; height: 48px; background-position: 0 -5341px; }
.India { width: 48px; height: 48px; background-position: 0 -5390px; }
.Indonezia { width: 48px; height: 48px; background-position: 0 -5439px; }
.Iran { width: 48px; height: 48px; background-position: 0 -5488px; }
.Iraq { width: 48px; height: 48px; background-position: 0 -5537px; }
.Ireland { width: 48px; height: 48px; background-position: 0 -5586px; }
.Islamic_Conference { width: 48px; height: 48px; background-position: 0 -5635px; }
.Isle_of_Man { width: 48px; height: 48px; background-position: 0 -5684px; }
.Israel { width: 48px; height: 48px; background-position: 0 -5733px; }
.Italy { width: 48px; height: 48px; background-position: 0 -5782px; }
.Jamaica { width: 48px; height: 48px; background-position: 0 -5831px; }
.Japan { width: 48px; height: 48px; background-position: 0 -5880px; }
.Jersey { width: 48px; height: 48px; background-position: 0 -5929px; }
.Jordan { width: 48px; height: 48px; background-position: 0 -5978px; }
.Kazakhstan { width: 48px; height: 48px; background-position: 0 -6027px; }
.Kenya { width: 48px; height: 48px; background-position: 0 -6076px; }
.Kiribati { width: 48px; height: 48px; background-position: 0 -6125px; }
.Kosovo { width: 48px; height: 48px; background-position: 0 -6174px; }
.Kuwait { width: 48px; height: 48px; background-position: 0 -6223px; }
.Kyrgyzstan { width: 48px; height: 48px; background-position: 0 -6272px; }
.Laos { width: 48px; height: 48px; background-position: 0 -6321px; }
.Latvia { width: 48px; height: 48px; background-position: 0 -6370px; }
.Lebanon { width: 48px; height: 48px; background-position: 0 -6419px; }
.Lesotho { width: 48px; height: 48px; background-position: 0 -6468px; }
.Liberia { width: 48px; height: 48px; background-position: 0 -6517px; }
.Libya { width: 48px; height: 48px; background-position: 0 -6566px; }
.Liechtenshein { width: 48px; height: 48px; background-position: 0 -6615px; }
.Lithuania { width: 48px; height: 48px; background-position: 0 -6664px; }
.Luxembourg { width: 48px; height: 48px; background-position: 0 -6713px; }
.Macao { width: 48px; height: 48px; background-position: 0 -6762px; }
.Macedonia { width: 48px; height: 48px; background-position: 0 -6811px; }
.Madagascar { width: 48px; height: 48px; background-position: 0 -6860px; }
.Malawi { width: 48px; height: 48px; background-position: 0 -6909px; }
.Malaysia { width: 48px; height: 48px; background-position: 0 -6958px; }
.Maldives { width: 48px; height: 48px; background-position: 0 -7007px; }
.Mali { width: 48px; height: 48px; background-position: 0 -7056px; }
.Malta { width: 48px; height: 48px; background-position: 0 -7105px; }
.Marshall_Islands { width: 48px; height: 48px; background-position: 0 -7154px; }
.Martinique { width: 48px; height: 48px; background-position: 0 -7203px; }
.Mauritania { width: 48px; height: 48px; background-position: 0 -7252px; }
.Mauritius { width: 48px; height: 48px; background-position: 0 -7301px; }
.Mayotte { width: 48px; height: 48px; background-position: 0 -7350px; }
.Mexico { width: 48px; height: 48px; background-position: 0 -7399px; }
.Micronesia { width: 48px; height: 48px; background-position: 0 -7448px; }
.Moldova { width: 48px; height: 48px; background-position: 0 -7497px; }
.Monaco { width: 48px; height: 48px; background-position: 0 -7546px; }
.Mongolia { width: 48px; height: 48px; background-position: 0 -7595px; }
.Montenegro { width: 48px; height: 48px; background-position: 0 -7644px; }
.Montserrat { width: 48px; height: 48px; background-position: 0 -7693px; }
.Morocco { width: 48px; height: 48px; background-position: 0 -7742px; }
.Mozambique { width: 48px; height: 48px; background-position: 0 -7791px; }
.NATO { width: 48px; height: 48px; background-position: 0 -7840px; }
.Namibia { width: 48px; height: 48px; background-position: 0 -7889px; }
.Nauru { width: 48px; height: 48px; background-position: 0 -7938px; }
.Nepal { width: 48px; height: 48px; background-position: 0 -7987px; }
.Netherlands { width: 48px; height: 48px; background-position: 0 -8036px; }
.Netherlands_Antilles { width: 48px; height: 48px; background-position: 0 -8085px; }
.New_Caledonia { width: 48px; height: 48px; background-position: 0 -8134px; }
.New_Zealand { width: 48px; height: 48px; background-position: 0 -8183px; }
.Nicaragua { width: 48px; height: 48px; background-position: 0 -8232px; }
.Niger { width: 48px; height: 48px; background-position: 0 -8281px; }
.Nigeria { width: 48px; height: 48px; background-position: 0 -8330px; }
.Niue { width: 48px; height: 48px; background-position: 0 -8379px; }
.Norfolk { width: 48px; height: 48px; background-position: 0 -8428px; }
.North_Korea { width: 48px; height: 48px; background-position: 0 -8477px; }
.Northern_Cyprus { width: 48px; height: 48px; background-position: 0 -8526px; }
.Northern_Ireland { width: 48px; height: 48px; background-position: 0 -8575px; }
.Northern_Mariana { width: 48px; height: 48px; background-position: 0 -8624px; }
.Norway { width: 48px; height: 48px; background-position: 0 -8673px; }
.OAS { width: 48px; height: 48px; background-position: 0 -8722px; }
.OECD { width: 48px; height: 48px; background-position: 0 -8771px; }
.OPEC { width: 48px; height: 48px; background-position: 0 -8820px; }
.Olimpic_Movement { width: 48px; height: 48px; background-position: 0 -8869px; }
.Oman { width: 48px; height: 48px; background-position: 0 -8918px; }
.Pakistan { width: 48px; height: 48px; background-position: 0 -8967px; }
.Palau { width: 48px; height: 48px; background-position: 0 -9016px; }
.Palestine { width: 48px; height: 48px; background-position: 0 -9065px; }
.Panama { width: 48px; height: 48px; background-position: 0 -9114px; }
.Papua_New_Guinea { width: 48px; height: 48px; background-position: 0 -9163px; }
.Paraguay { width: 48px; height: 48px; background-position: 0 -9212px; }
.Peru { width: 48px; height: 48px; background-position: 0 -9261px; }
.Philippines { width: 48px; height: 48px; background-position: 0 -9310px; }
.Pitcairn { width: 48px; height: 48px; background-position: 0 -9359px; }
.Poland { width: 48px; height: 48px; background-position: 0 -9408px; }
.Portugal { width: 48px; height: 48px; background-position: 0 -9457px; }
.Puerto_Rico { width: 48px; height: 48px; background-position: 0 -9506px; }
.Qatar { width: 48px; height: 48px; background-position: 0 -9555px; }
.Quebec { width: 48px; height: 48px; background-position: 0 -9604px; }
.Red_Cross { width: 48px; height: 48px; background-position: 0 -9653px; }
.Reunion { width: 48px; height: 48px; background-position: 0 -9702px; }
.Romania { width: 48px; height: 48px; background-position: 0 -9751px; }
.Russian_Federation { width: 48px; height: 48px; background-position: 0 -9800px; }
.Rwanda { width: 48px; height: 48px; background-position: 0 -9849px; }
.Saint_Barthelemy { width: 48px; height: 48px; background-position: 0 -9898px; }
.Saint_Helena { width: 48px; height: 48px; background-position: 0 -9947px; }
.Saint_Lucia { width: 48px; height: 48px; background-position: 0 -9996px; }
.Saint_Pierre_and_Miquelon { width: 48px; height: 48px; background-position: 0 -10045px; }
.Samoa { width: 48px; height: 48px; background-position: 0 -10094px; }
.San_Marino { width: 48px; height: 48px; background-position: 0 -10143px; }
.Saudi_Arabia { width: 48px; height: 48px; background-position: 0 -10192px; }
.Scotland { width: 48px; height: 48px; background-position: 0 -10241px; }
.Senegal { width: 48px; height: 48px; background-position: 0 -10290px; }
.Serbia { width: 48px; height: 48px; background-position: 0 -10339px; }
.Seychelles { width: 48px; height: 48px; background-position: 0 -10388px; }
.Sierra_Leone { width: 48px; height: 48px; background-position: 0 -10437px; }
.Singapore { width: 48px; height: 48px; background-position: 0 -10486px; }
.Sint_Maarten { width: 48px; height: 48px; background-position: 0 -10535px; }
.Slovakia { width: 48px; height: 48px; background-position: 0 -10584px; }
.Slovenia { width: 48px; height: 48px; background-position: 0 -10633px; }
.Solomon_Islands { width: 48px; height: 48px; background-position: 0 -10682px; }
.Somalia { width: 48px; height: 48px; background-position: 0 -10731px; }
.Somaliland { width: 48px; height: 48px; background-position: 0 -10780px; }
.South_Africa { width: 48px; height: 48px; background-position: 0 -10829px; }
.South_Georgia_and_South_Sandwich { width: 48px; height: 48px; background-position: 0 -10878px; }
.South_Korea { width: 48px; height: 48px; background-position: 0 -10927px; }
.Southern_Sudan { width: 48px; height: 48px; background-position: 0 -10976px; }
.Spain { width: 48px; height: 48px; background-position: 0 -11025px; }
.Sri_Lanka { width: 48px; height: 48px; background-position: 0 -11074px; }
.St_Kitts_Nevis { width: 48px; height: 48px; background-position: 0 -11123px; }
.St_Vincent_the_Grenadines { width: 48px; height: 48px; background-position: 0 -11172px; }
.Sudan { width: 48px; height: 48px; background-position: 0 -11221px; }
.Suriname { width: 48px; height: 48px; background-position: 0 -11270px; }
.Svalbard_and_Jan_Mayen { width: 48px; height: 48px; background-position: 0 -11319px; }
.Swaziland { width: 48px; height: 48px; background-position: 0 -11368px; }
.Sweden { width: 48px; height: 48px; background-position: 0 -11417px; }
.Switzerland { width: 48px; height: 48px; background-position: 0 -11466px; }
.Syria { width: 48px; height: 48px; background-position: 0 -11515px; }
.Taiwan { width: 48px; height: 48px; background-position: 0 -11564px; }
.Tajikistan { width: 48px; height: 48px; background-position: 0 -11613px; }
.Tanzania { width: 48px; height: 48px; background-position: 0 -11662px; }
.Thailand { width: 48px; height: 48px; background-position: 0 -11711px; }
.Timor-Leste { width: 48px; height: 48px; background-position: 0 -11760px; }
.Togo { width: 48px; height: 48px; background-position: 0 -11809px; }
.Tokelau { width: 48px; height: 48px; background-position: 0 -11858px; }
.Tonga { width: 48px; height: 48px; background-position: 0 -11907px; }
.Trinidad_Tobago { width: 48px; height: 48px; background-position: 0 -11956px; }
.Tristan-da-Cunha { width: 48px; height: 48px; background-position: 0 -12005px; }
.Tunisia { width: 48px; height: 48px; background-position: 0 -12054px; }
.Turkey { width: 48px; height: 48px; background-position: 0 -12103px; }
.Turkmenistan { width: 48px; height: 48px; background-position: 0 -12152px; }
.Turks_and_Caicos_Islands { width: 48px; height: 48px; background-position: 0 -12201px; }
.Tuvalu { width: 48px; height: 48px; background-position: 0 -12250px; }
.UNESCO { width: 48px; height: 48px; background-position: 0 -12299px; }
.UNICEF { width: 48px; height: 48px; background-position: 0 -12348px; }
.USA { width: 48px; height: 48px; background-position: 0 -12397px; }
.Uganda { width: 48px; height: 48px; background-position: 0 -12446px; }
.Ukraine { width: 48px; height: 48px; background-position: 0 -12495px; }
.United_Arab_Emirates { width: 48px; height: 48px; background-position: 0 -12544px; }
.United_Kingdom { width: 48px; height: 48px; background-position: 0 -12593px; }
.United_Nations { width: 48px; height: 48px; background-position: 0 -12642px; }
.United_States_Minor_Outlying { width: 48px; height: 48px; background-position: 0 -12691px; }
.Uruguay { width: 48px; height: 48px; background-position: 0 -12740px; }
.Uzbekistan { width: 48px; height: 48px; background-position: 0 -12789px; }
.Vanutau { width: 48px; height: 48px; background-position: 0 -12838px; }
.Vatican_City { width: 48px; height: 48px; background-position: 0 -12887px; }
.Venezuela { width: 48px; height: 48px; background-position: 0 -12936px; }
.Viet_Nam { width: 48px; height: 48px; background-position: 0 -12985px; }
.Virgin_Islands_British { width: 48px; height: 48px; background-position: 0 -13034px; }
.Virgin_Islands_US { width: 48px; height: 48px; background-position: 0 -13083px; }
.WHO { width: 48px; height: 48px; background-position: 0 -13132px; }
.WTO { width: 48px; height: 48px; background-position: 0 -13181px; }
.Wales { width: 48px; height: 48px; background-position: 0 -13230px; }
.Wallis_and_Futuna { width: 48px; height: 48px; background-position: 0 -13279px; }
.Western_Sahara { width: 48px; height: 48px; background-position: 0 -13328px; }
.Yemen { width: 48px; height: 48px; background-position: 0 -13377px; }
.Zaire { width: 48px; height: 48px; background-position: 0 -13426px; }
.Zambia { width: 48px; height: 48px; background-position: 0 -13475px; }
.Zimbabwe { width: 48px; height: 48px; background-position: 0 -13524px; }
.algeria { width: 48px; height: 48px; background-position: 0 -13573px; }