<!DOCTYPE html>
<html>
<head>
  <title>Prodetotal2</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
</body>
</html>
